@import "tailwindcss";

/* #013782 */

:root {
    padding: 0;
    margin: 0;
  --background: #f2f7ff;
  --foreground: #171717;
  --loaderborder: #1d293d;
  --offbackground: #F2F4F7;
  --hover: #e5e7eb;
  --bordercolor: #364153;
}

html.dark {
  --background: #000b1a;
  --foreground: #ededed;
  --inputbg: #030712;
  --loader-border: #cad5e2;
  --offbackground: #101828;
  --hover: #1e2939;
  --bordercolor: #d1d5dc;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-source-sans);
  --font-logo: var(--font-merriweather);
  --font-heading: var(--font-cabin);
  --color-primary: #013782;
  --color-inputbg: var(--inputbg);
  --color-darkbackground: #000b1a;
  --color-lightbackground: #f2f7ff;
  --color-loaderborder: var(--loader-border);
  --color-offbackground: var(--offbackground);
  --color-hover: var(--hover);
  --color-bordercolor: var(--bordercolor)
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-sans), ui-sans-serif, system-ui;
}
